/* ! Utility */
*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

:root {
    --navbar: #ff6900;
    --red: #ff0000;
    --green: #008000;
    --footer: #1a1a1a;
    --white: #ffffff;
    --lightgray: #293133;
}

/* ! CSS Globale */
body {
    font-family: sans-serif;
}

header {
    background-color: var(--navbar);
    width: 100%;
}

footer {
    background-color: var(--footer);
    width: 100%;
    display: flex;
    padding: 40px 0;
}

nav {
    padding: 20px 0;
}

li {
    list-style: none;
}

p {
    font-size: 15px;
    display: inline-block;
}

/* ! CSS Header */

/* ! Classe fixed per fissare la barra di navigazione */
.fixed {
    background-color: var(--navbar);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* ! CSS per l'ombra sotto la Barra di navigazione */
div.fixed {
    box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.5);
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight:bold;
    padding: 0 4px;
}

.logo {
    width: 150px;
}

.icons i {
    color: var(--white);
}

/* ! CSS del Main */
main .container {
    width: 70%;
    margin: 130px auto;
}

main h3 {
    text-transform: uppercase;
    font-size: 17px;
}

.col {
    width: calc((100% - 40px) / 3);
    cursor: pointer;
    position: relative;
}

.margin {
    margin: 0 20px;
}

.col img {
    width: 100%;
}

.label-heart {
    display: block;
    position: absolute;
    padding: 5px 15px;
    background-color: var(--white);
}

.heart {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 35px;
}

.label-discount {
    display: block;
    position: absolute;
    bottom: 50px;
    padding: 3px 10px;
    background-color: var(--red);
}

.label-sost {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 3px 10px;
    margin-left: 10px;
    background-color: var(--green);
}

.label-discount, .label-sost, .label-sost-single {
    color: var(--white);
    font-weight:bold;
    font-size: 14px;
}

.description {
   position: absolute;
}

.price {
    font-weight: bold;
    color: var(--red);
}

.price-discount {
    text-decoration: line-through;
}

.label-sost-single {
    display: block;
    position: absolute;
    bottom: 50px;
    padding: 3px 10px;
    background-color: var(--green);
}

.second {
    display: none;
}

.col:hover .first {
    display: none;
}

.col:hover .second {
    display: inline-block;
}

/* ! CSS del Footer  */
.flexbox-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

footer h3 {
    color: var(--white);
}

footer ul {
    display: flex;
}

.section-social {
    display: flex;
    flex-direction: column;
}

.margin-icons {
    margin: 0 10px;
}

footer .icons {
    display: flex;
}

footer a {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
}

footer li {
    padding-top: 5px;
}

footer i {
    font-size: 20px;
    padding-top: 10px;
}

footer p {
    color: var(--white);
    font-weight: bold;
}